<header class = 'fixed-top header-css'>
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class = "nav-link nav-links-css" href = "lessons">Lessons</a>
        </li>
        <li class="nav-item resources-css">
            <a class="nav-link nav-links-css justify-content-end" href="#">Resources</a>
        </li>
    </ul>
</header>




<div class="card center-screen">
    <div class="card-header new-lesson">
        Create New Lesson
    </div>
    <form method="POST" action="/api/lessons" class="card-body">
       <div class="form-group">
           <label class="form-label" for="name">Lesson Name</label>
           <input type="text" name="name" class="col-sm-12 form-input" id="name"/>
       </div>
       <div class = "form-group">
           <label class = "form-label" for = "note_0">First Note</label>
           <textarea type = "text" name = "note_0" maxlength="2" class="col-sm-12 form-input" id = "note_0"></textarea>
       </div>
       <div class = "form-group">
           <label class = "form-label" for = "note_1">Second Note</label>
           <textarea type = "text" name = "note_1" maxlength="2" class="col-sm-12 form-input" id = "note_1"></textarea>
       </div>
       <div class = "form-group">
           <label class = "form-label" for = "note_2">Third Note</label>
           <textarea type = "text" name = "note_2" maxlength="2" class="col-sm-12 form-input" id = "note_2"></textarea>
       </div>
       <div class = "form-group">
           <label class = "form-label" for = "note_3">Fourth Note</label>
           <textarea type = "text" name = "note_3" maxlength="2" class="col-sm-12 form-input" id = "note_3"></textarea>
       </div>
       <div class = "form-group">
           <label class = "form-label" for = "note_4">Fifth Note</label>
           <textarea type = "text" name = "note_4" maxlength="2" class="col-sm-12 form-input" id = "note_4"></textarea>
       </div>
       <div class = "form-group">
           <label class = "form-label" for = "note_5">Sixth Note</label>
           <textarea type = "text" name = "note_5" maxlength="2" class="col-sm-12 form-input" id = "note_5"></textarea>
       </div>
       <div class = "form-group">
           <label class = "form-label" for = "note_6">Seventh Note</label>
           <textarea type = "text" name = "note_6" maxlength="2" class="col-sm-12 form-input" id = "note_6"></textarea>
       </div>
       <div class="form-group newlesson-btn">
           <button type="submit" class="col-sm-12 btn btn-dark" id="create-post" href = "lessons">Create Lesson</button>
       </div>
    </form>
</div>


<div class = "footer-container">
    <div class = "row">
        <footer class = "footer footer-css">
            <div class = "d-flex justify-content-center">
                <button type = "button" class = "btn btn-css" id = "logout">
                    Logout
                </button>
            </div>
        </footer>
    </div>    
</div>
