<header class = 'fixed-top header-css'>
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-links-css" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lessons</a>
            <div class="dropdown-menu">
                {{#each lessons as |lesson|}}
                <a class = "dropdown-item" href = "/lessons/{{lesson.name}}">
                    {{lesson.name}}
                </a>
                {{/each}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="addlesson">Add A Lesson</a>
                
               
            </div>
        </li>
        <li class="nav-item resources-css">
            <a class="nav-link nav-links-css justify-content-end" href="resources">Resources</a>
        </li>
    </ul>
</header>


<span class = "hidden-span" id = "hidden-note-span">
    {{notes}}
</span>



<div class = "center-screen">
    <div class = "placeholder-box" id = 'note-box'>
        {{!-- {{#each notes as |note|}} --}}

        
        <span class = "placeholder-span" id = "note-span">
            {{!-- {{note}} --}}
        </span>
        {{!-- {{/each}} --}}
    </div>
</div>


<footer class = "footer fixed-bottom footer-css">
    <div class = "d-flex justify-content-center">
        <button type = "button" class = "btn btn-css" id = "logout">
            Logout
        </button>
    </div>
</footer>

<script src = '/js/notes.js' type = "module"></script>