 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Login</h1>
    <p class="lead">Login to view or add lessons.</p>
  </div>
</div>
    <div class="container"></div>
        <form id="login-form">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="col-sm-6 form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="col-sm-6 form-input" type="password" id="password-login"/>
            </div>
            <div class="form-group">
                <button class="col-sm-6 btn btn-primary" id='login-button'>Login</button>
            </div>
           
        </form>
    </div>
</div>

<script src="/js/login.js"></script>