<header class = 'fixed-top header-css'>
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <p class="nav-links-css">Login</p>
    </li>
  </ul>
</header>

<div class = "center-screen">
    <form class = "login-form">
        <div class = "form-group">
            <label for = "email-login">Email:</label>
            <input class = "form-input" type = "text" id = "email-login" />
        </div>
        <div class = "form-group">
            <label for = "password-login">Password:</label>
            <input class = "form-input" type = "password" id = "password-login" />
        </div>
        <div class = "form-group">
            <button class = "btn btn-dark" id = "login-button">Login</button>
        </div>
        <a class = "nav-link text-center" href = "/signup">Sign Up</a>
    </form>
</div>

<script src="/js/login.js"></script>