links to outside resources

<div class="links"> 
    {{!-- would this be link or card class? should it be an ID? --}}
    <div class="col-sm-12 ">
        <div class="card">
            {{!-- would this change to card-body? --}}
            <a href="https://youtube.com/">See Website</a>
        </div>
    </div>
     <div class="col-sm-12 ">
        <div class="card">
            {{!-- would this change to card-body? --}}
            <a href="https://youtube.com/">See Website</a>
        </div>
    </div>
     <div class="col-sm-12 ">
        <div class="card">
            {{!-- would this change to card-body? --}}
            <a href="https://youtube.com/">See Website</a>
        </div>
    </div>
     <div class="col-sm-12 ">
        <div class="card">
            {{!-- would this change to card-body? --}}
            <a href="https://youtube.com/">See Website</a>
        </div>
    </div>
   
</div>