<header class = 'fixed-top header-css'>
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class = "nav-link nav-links-css" href = "lessons">Lessons</a>
        </li>
        <li class="nav-item resources-css">
            <a class="nav-link nav-links-css justify-content-end" href="#">Resources</a>
        </li>
    </ul>
</header>



<div class = "center-screen">
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-12">
                <div class = "card">
                    <a href="https://www.youtube.com/channel/UCqepSCHTyWj4BzHxEEUNvlg">Jens Larsen - Jazz Guitar Lessons Channel</a>
                </div>
                <div class = "card">
                    <a href="http://openmusictheory.com/">Open Music Theory</a>
                </div>
                <div class = "card">
                    <a href="https://en.wikipedia.org/wiki/Mode_(music)">Wikipedia: Modal Music</a>
                </div>
                <div class = "card">
                    <a href="https://people.umass.edu/gmhwww/382/pdf/12-music%20scales.pdf">UMASS Paper on Scale Construction</a>
                </div>
            </div>
        </div>
    </div>
</div>