<div class="jumbotron jumbotron-fluid h-25 p-3 bg-warning text-light">
  <div class="container ">
    <h1 class="display-4 d-flex justify-content-center ">RESOURCES</h1>
    <p class="lead d-flex justify-content-center">Use These Links !</p>
  </div>
</div>

<div class="links"> 
    {{!-- would this be link or card class? should it be an ID? --}}
    <div class="col-sm-12 ">
        <div class="card">
            {{!-- would this change to card-body? --}}
            <a href="https://youtube.com/">See Website</a>
        </div>
    </div>
     <div class="col-sm-12 ">
        <div class="card">
            {{!-- would this change to card-body? --}}
            <a href="https://youtube.com/">See Website</a>
        </div>
    </div>
     <div class="col-sm-12 ">
        <div class="card">
            {{!-- would this change to card-body? --}}
            <a href="https://youtube.com/">See Website</a>
        </div>
    </div>
     <div class="col-sm-12 ">
        <div class="card">
            {{!-- would this change to card-body? --}}
            <a href="https://youtube.com/">See Website</a>
        </div>
    </div>
   
</div>