<header class = 'fixed-top header-css'>
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <p class="nav-links-css">Sign Up</p>
    </li>
  </ul>
</header>



<div class="container center-screen">
    <div class="row">
        <div class="col-sm-12 sign-form">
            <form id="signup-form">
                <div-class = 'form-group'>
                    <label for = 'name-signup'>Name:</label>
                    <input class = "col-sm-12 form-input" type="text" id="name-signup"/>
                </div-class>
                <div class="form-group">
                    <label for="email-signup">Email:</label>
                    <input class="col-sm-12 form-input" type="text" id="email-signup"/>
                </div>
                <div class="form-group">
                    <label for="password-signup">Password:</label>
                    <input class="col-sm-12 form-inpuut" type="password" id="password-signup"/>
                </div>
                <div class="form-group">
                    <button class="col-sm-12 btn btn-dark" type="submit">Sign Up</button>
                </div>
                <a class="nav-link text-center" href="/login">Login</a>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js" content-type = 'application/javascript'></script>